<!--The content below is only a placeholder and can be replaced.-->
<!-- <h2>Here are some links to help you start: </h2> -->
<div >
  <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue" *ngIf="Loading">
  </mat-progress-bar>
  <mat-toolbar  color="primary">
    <span>Intry - Jobs List</span>
  </mat-toolbar>
  <div class="text-center margin-top-20 grey-bg">
    <button mat-raised-button (click)="createuserData()" color="primary">Add Job</button>
  </div>
  <div>
    <ul [dragula]='"first-bag"' [dragulaModel]='items' class="grey-bg">
      <li *ngFor="let item of items,let i = index" id="Location{{id}}">
        <div class="card all-scroll">
          <div class="display-flex center-align">
            <div>
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAJ6AAAAJGE4ZTJlMjM1LTJhN2QtNGEyMi04YjA0LTdkZWQ5YzZmZjNiYg.png"
                alt="Avatar" class="image-style">
            </div>
            <div class="container padding-right-80">
              <h3 class="margin-bottom-0">
                <b>{{item.company_name}}</b>
              </h3>
              <br>
              <span class="conmpany-name-style">{{item.job_title}}</span>
              <p>Employment type : {{item.employment_type}}</p>
              <p>
                <span class="responsibilities-text-style">Responsibilities : </span>{{item.description}}</p>
              <p>{{item.joning_date | date: 'dd/MM/yyyy'}} - {{item.leaving_date | date: 'dd/MM/yyyy'}}</p>
              <div>
                <i class=" fa fa-edit fa-2x  abso-icon edit-icon-style pointer" aria-hidden="true" (click)="openDialog(i)"></i>
                <i class=" fa fa-trash fa-2x  abso-icon trash-icon-style pointer" aria-hidden="true" (click)="showDeleteModal(i)"></i>
              </div>
            </div>
          </div>

        </div>
      </li>
    </ul>
  </div>

</div>