/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
.grey-bg{
    background: #fafafa;
}
.dialog-body{
  height: 150px;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-around{
  justify-content: space-around;
}
.pointer{
  cursor: pointer;
}